<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Administración </title>
    
    <style>
        .button-container {
            display: flex; 
            flex-direction: column;
            gap: 50px; 
            padding: 7%;
            align-items: center; 
        }
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(0, 56, 104);
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-size: 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 25%; 
        }
        .button-link:hover {
            background-color: rgb(0, 56, 104);
        }
         @media (max-width: 768px) {
            .button-link {
                width: 80%; 
                font-size: 20px; 
            }
            h1 {
                font-size: 35px; 
                text-align: center;
            }
            .button-container {
                gap: 30px; 
            }
        }
    </style>
</head>
<body>
    <section>
        <div class="button-container">
            <h1 style="font-size: 40px;">Seleccione una opción</h1>
            <a href="/notas" class="button-link">Notas de alumnos</a>
            <a href="/asistencia" class="button-link">Asistencia por curso</a>
            
            <a href="/consultaralumno" class="button-link">Consultar alumno</a>
        </div>
    </section>
</body>
</html>



